streamlit
requests
pyaudio
SpeechRecognition
pyttsx3
togetherai
audio-recorder-streamlit
Pillow
av
beautifulsoup4
python-docx
fpdf
pytesseract
plotly
pandas
pdf2image
PyPDF2
streamlit-option-menu
nltk
networkx
streamlit-webrtc
matplotlib
streamlit-agraph
wordcloud
numpy
pydub
scikit-learn
reportlab
google-api-python-client
